<section class="reviews-container">
  <h2>Reviews</h2>
  <div class="reviews">
    <article class="review">
      <div class="info-container">
        <div class="info">
          <h3>Good Quality</h3>
          <p>I highly recommend shopping from kicks</p>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <span>5.0</span>
          </div>
        </div>
        <img src="https://i.imgur.com/438GsJO.png" alt="review icon" />
      </div>
      <img
        src="https://i.imgur.com/QgBuaaR.png"
        class="review-img"
        alt="review image"
      />
    </article>
    <article class="review">
      <div class="info-container">
        <div class="info">
          <h3>Good Quality</h3>
          <p>I highly recommend shopping from kicks</p>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <span>5.0</span>
          </div>
        </div>
        <img src="https://i.imgur.com/438GsJO.png" alt="review icon" />
      </div>
      <img
        src="https://i.imgur.com/QgBuaaR.png"
        class="review-img"
        alt="review image"
      />
    </article>
    <article class="review">
      <div class="info-container">
        <div class="info">
          <h3>Good Quality</h3>
          <p>I highly recommend shopping from kicks</p>
          <div class="stars">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <span>5.0</span>
          </div>
        </div>
        <img src="https://i.imgur.com/438GsJO.png" alt="review icon" />
      </div>
      <img
        src="https://i.imgur.com/QgBuaaR.png"
        class="review-img"
        alt="review image"
      />
    </article>
  </div>
</section>
