.listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e7e3;
  gap: 4rem;
  padding: 3rem 3rem 4rem;
}

.banner {
  width: 92vw;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 4rem;
}

.single-product {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.product-img {
  padding: 0.8rem;
  background-color: #fafafa;
  border-radius: 2rem;
}

.single-product p {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

.btn {
  background-color: #232321;
  color: #fafafa;
  font-weight: normal;
}
