<section class="listing-container">
  <img
    src="https://i.imgur.com/5Wopw9x.png"
    alt="listing banner"
    class="banner"
  />
  <article class="products-list">
    <section class="single-product">
      <img
        src="https://i.imgur.com/lAAlKkD.png"
        alt="name"
        class="product-img"
      />
      <p>ULTRABOOST 1.0 MIAMI Green</p>
      <button type="button" class="btn" routerLink="/shoes/1">
        View Product - $125
      </button>
    </section>
    <section class="single-product">
      <img
        src="https://i.imgur.com/lAAlKkD.png"
        alt="name"
        class="product-img"
      />
      <p>ULTRABOOST 1.0 MIAMI Green</p>
      <button type="button" class="btn" routerLink="/shoes/1">
        View Product - $125
      </button>
    </section>
    <section class="single-product">
      <img
        src="https://i.imgur.com/lAAlKkD.png"
        alt="name"
        class="product-img"
      />
      <p>ULTRABOOST 1.0 MIAMI Green</p>
      <button type="button" class="btn" routerLink="/shoes/1">
        View Product - $125
      </button>
    </section>
    <section class="single-product">
      <img
        src="https://i.imgur.com/lAAlKkD.png"
        alt="name"
        class="product-img"
      />
      <p>ULTRABOOST 1.0 MIAMI Green</p>
      <button type="button" class="btn" routerLink="/shoes/1">
        View Product - $125
      </button>
    </section>
  </article>
</section>
