<section class="about-container">
  <article class="details">
    <span class="release">New Release</span>
    <h1>ADIDAS 4DFWD X PARLEY RUNNING SHOES</h1>
    <span class="price">$125.00</span>
    <div class="color-selector">
      <label for="colors">Color</label>
      <select name="colors" id="colors">
        <option value="blanco">Blanco</option>
        <option value="negro">Negro</option>
        <option value="verde">Verde</option>
      </select>
    </div>
    <div class="size-selector">
      <label for="colors">Size</label>
      <select name="sizes" id="sizes">
        <option value="37">37</option>
        <option value="38">38</option>
        <option value="39">39</option>
        <option value="40">40</option>
        <option value="41">41</option>
      </select>
    </div>
    <div class="buttons">
      <button type="button" class="btn add-cart">Add to cart</button>
      <button type="button" class="btn buy-now">Buy it now</button>
    </div>
  </article>
  <article class="about">
    <h2>About the product</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium
      dolore delectus quos animi aut aspernatur recusandae non quo consequuntur
      alias eligendi distinctio veritatis modi harum cum sit facere neque
      officiis fugit vel itaque, saepe quidem laudantium! Sequi ratione sint
      dolores, ea sunt quidem consequuntur tempore architecto excepturi nostrum
      repellat soluta.
    </p>
  </article>
</section>
