.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fafafa;
  border-radius: 1.5rem;
  padding: 2rem 0;
}

.products-container {
  padding: 2rem 3rem 4.5rem;
  background-color: #e7e7e3;
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #4a69e2;
  margin: 0.5rem 0 1.5rem;
  text-transform: uppercase;
}

.table,
.filter {
  width: 95%;
  margin: 0 auto;
}

.mat-elevation-z8 {
  overflow-x: auto;
}

.no-purchases {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 110px);
}

.no-users h1 {
  font-size: 3rem;
  margin-top: -5rem;
}
