<section class="container">
  <article class="admin-options">
    <h1>Admin Options</h1>
    <ul>
      <li>
        <button class="btn" routerLink="/admin/manage-users">
          Manage Users
        </button>
      </li>
      <li>
        <button class="btn" routerLink="/admin/manage-products">
          Manage Products
        </button>
      </li>
      <li>
        <button class="btn" routerLink="/admin/manage-purchases">
          Manage Purchases
        </button>
      </li>
    </ul>
  </article>
</section>
