.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

img {
  width: 450px;
}

.img-1 {
  border-top-left-radius: 3rem;
}

.img-2 {
  border-top-right-radius: 3rem;
}

.img-3 {
  border-bottom-left-radius: 3rem;
}

.img-4 {
  border-bottom-right-radius: 3rem;
}
