<section class="categories-container">
  <h2>Categories</h2>
  <article class="categories">
    <section class="category">
      <img
        src="./../../../../../assets/img/sneakers-category.png"
        alt="lifestyle category"
      />
      <p>Sneakers Shoes</p>
    </section>
    <section class="category">
      <img
        src="./../../../../../assets/img/basketball-category.png"
        alt="Basketball category"
      />
      <p>Basketball Shoes</p>
    </section>
    <section class="category">
      <img
        src="./../../../../../assets/img/runners-category.png"
        alt="Runners category"
      />
      <p>Runners Shoes</p>
    </section>
    <section class="category">
      <img
        src="./../../../../../assets/img/outdoor-category.jpg"
        alt="Outdoor category"
      />
      <p>Outdoor Shoes</p>
    </section>
  </article>
</section>
