<section class="categories-container">
  <h2>Categories</h2>
  <article class="categories">
    <section class="category">
      <img
        routerLink="/shoes"
        src="https://i.imgur.com/4zoxftd.png"
        alt="lifestyle category"
      />
      <p routerLink="/shoes">Sneakers Shoes</p>
    </section>
    <section class="category">
      <img
        routerLink="/shoes"
        src="https://i.imgur.com/nLvqbYa.png"
        alt="Basketball category"
      />
      <p routerLink="/shoes">Basketball Shoes</p>
    </section>
    <section class="category">
      <img
        routerLink="/shoes"
        src="https://i.imgur.com/k2ZcFnk.png"
        alt="Runners category"
      />
      <p routerLink="/shoes">Runners Shoes</p>
    </section>
    <section class="category">
      <img
        routerLink="/shoes"
        src="https://i.imgur.com/xIMpOqe.jpg"
        alt="Outdoor category"
      />
      <p routerLink="/shoes">Outdoor Shoes</p>
    </section>
  </article>
</section>
