<section class="categories-container">
  <h2>Categories</h2>
  <article class="categories">
    <section class="category">
      <img src="https://i.imgur.com/4zoxftd.png" alt="lifestyle category" />
      <p>Sneakers Shoes</p>
    </section>
    <section class="category">
      <img src="https://i.imgur.com/nLvqbYa.png" alt="Basketball category" />
      <p>Basketball Shoes</p>
    </section>
    <section class="category">
      <img src="https://i.imgur.com/k2ZcFnk.png" alt="Runners category" />
      <p>Runners Shoes</p>
    </section>
    <section class="category">
      <img src="https://i.imgur.com/xIMpOqe.jpg" alt="Outdoor category" />
      <p>Outdoor Shoes</p>
    </section>
  </article>
</section>
